<h1>Help</h1>
  <p>
    <%=t('sufia.product_name') %> is an application for researcher self deposit. Please see the <%= link_to "About Page", "/about/" %> for more information on <%=t('$sufia.product_name') %>. Use the <%= link_to "Contact Page", "/contact/" %> to get in touch if you have any questions or comments.
  </p>

  <h2>Getting Started</h2>

  <h3>Sign In</h3>
  <p>
    Members of the GWU community can log in with [signinmethod]
  </p>

  <h3>Deposit Content</h3>
  <p>
    You can deposit content one file at a time or as a batch. Begin by choosing upload from the user menu. After agreening to the Deposit agreement you can use the select files or select folders option to browse to the files you wish to upload from your computer. Use the Start upload button to move them to <%=t('sufia.product_name') %>. After uploading your files, you will be prompted to add metadata. 
  </p>

  <h3>Metadata</h3>
  <p>
    Best practices 
  </p>

  <h2>FAQ</h2>
  <p>
    Possible FAQ.
  </p>
